<h1>Experiments#page2</h1>
<p>Find me in app/views/experiments/page2.html.erb</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates doloremque nostrum, aspernatur, fugiat officiis voluptatum dolorem ipsum, earum, consequatur consequuntur soluta. Necessitatibus aut ratione minima sunt odio itaque saepe? Distinctio.</p>